# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [38]:
# Preview the combined data
school_data_complete = school_data_complete.sort_values(["school_name"])
school_data_complete = school_data_complete.reset_index(drop=True)
school_data_complete = school_data_complete.rename(columns={"grade": "Grade"})
school_data_complete.head()

,Student ID,student_name,gender,Grade,school_name,reading_score,math_score,School ID,type,size,budget
0,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
1,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
2,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
3,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
4,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

In [41]:
# Rename school_name and type columns
school_data_complete = school_data_complete.rename(columns={"school_name": "School", "type" :'Type'})

# Group the data by school and type
school_type_grouped = school_data_complete.groupby(['School', 'Type'])
school_type = school_type_grouped.mean()
school_type.head()

,,Student ID,reading_score,math_score,School ID,size,budget
School,Type,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0

In [42]:
# Calculate number of schools
num_schools=len(school_data_complete.School.unique())
num_schools

15

In [43]:
# Calculate number of Total Students
num_students = school_type['size'].sum()
num_students

39170.0

In [44]:
# Calculate Total Budget
total_budget = school_type['budget'].sum()
total_budget

24649428.0

In [45]:
# Calculate Average Math Score
avg_math = school_data_complete['math_score'].mean()
avg_math

78.98537145774827

In [46]:
# Calculate Average Reading Score
avg_read = school_data_complete['reading_score'].mean()
avg_read

81.87784018381414

In [47]:
# Calculate % Passing Math and Reading
school_data_complete['Passing Math Index'] = ''

# Set up passing math index
for i in range(0, len(school_data_complete)):
    if school_data_complete.iloc[i,6] < 70:
        school_data_complete.iloc[i,11] = 0
    else:
        school_data_complete.iloc[i,11] = 1

# Set up passing reading index 
school_data_complete['Passing Reading Index'] = ''

for i in range(0, len(school_data_complete)):
    if school_data_complete.iloc[i,5] < 70:
        school_data_complete.iloc[i,12] = 0
    else:
        school_data_complete.iloc[i,12] = 1
        
school_data_complete.head()

,Student ID,student_name,gender,Grade,School,reading_score,math_score,School ID,Type,size,budget,Passing Math Index,Passing Reading Index
0,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928,1,1
1,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928,1,1
2,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928,0,1
3,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928,1,1
4,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928,1,1

In [48]:
# Calculate % Passing Math
pass_math = school_data_complete['Passing Math Index'].sum() / num_students * 100
pass_math

74.9808526933878

In [49]:
# Calculate % Passing Reading
pass_read = school_data_complete['Passing Reading Index'].sum() / num_students * 100
pass_read

85.80546336482001

In [50]:
# Calculate % Overall Passing Rate
ovr_pass = (avg_math + avg_read) / 2
ovr_pass

80.43160582078121

In [51]:
# Create District Summary Table
district = {"Total Schools":[num_schools], "Total Students":[num_students], "Total Budget":[total_budget], "Average Math Score":[avg_math], "Average Reading Score":[avg_read], "% Passing Math":[pass_math], "% Passing Reading": [pass_read], "% Overall Passing Rate": [ovr_pass]}
df_district = pd.DataFrame(district)

#Format Datafram
df_district['Total Students']=df_district['Total Students'].map("{:,}".format)
df_district['Total Budget']=df_district['Total Budget'].map("${:,}".format)

df_district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170.0","$24,649,428.0",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [52]:
# Create an overview table that summarizes key metrics about each school
summary_table = school_type.drop(['Student ID', 'School ID'], axis=1)
summary_table.head()

                               reading_score  math_score    size     budget
School               Type
Bailey High School   District      81.033963   77.048432  4976.0  3124928.0
Cabrera High School  Charter       83.975780   83.061895  1858.0  1081356.0
Figueroa High School District      81.158020   76.711767  2949.0  1884411.0
Ford High School     District      80.746258   77.102592  2739.0  1763916.0
Griffin High School  Charter       83.816757   83.351499  1468.0   917500.0

In [53]:
# rename columns
summary_table = summary_table.rename(columns={"size":"Total Students", "budget": "Total Budget", "math_score": "Avg Math Score", "reading_score": "Avg Reading Score"})

summary_table.head()

,,Avg Reading Score,Avg Math Score,Total Students,Total Budget
School,Type,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0
Ford High School,District,80.746258,77.102592,2739.0,1763916.0
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0

In [54]:
# Calculate Per Student Budget
summary_table['Per Student Budget'] = summary_table['Total Budget']/summary_table['Total Students']
summary_table.head()

,,Avg Reading Score,Avg Math Score,Total Students,Total Budget,Per Student Budget
School,Type,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,628.0
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,582.0
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,639.0
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,644.0
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,625.0

In [55]:
# Calulate % passing math and reading
math_reading = school_data_complete.groupby(['School', 'Type'])

summary_table["Passing Math"] = math_reading['Passing Math Index'].sum() / summary_table['Total Students']*100
summary_table["Passing Reading"] = math_reading['Passing Reading Index'].sum() / summary_table['Total Students']*100
summary_table.head()

,,Avg Reading Score,Avg Math Score,Total Students,Total Budget,Per Student Budget,Passing Math,Passing Reading
School,Type,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,628.0,66.680064,81.933280
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,582.0,94.133477,97.039828
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,639.0,65.988471,80.739234
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,644.0,68.309602,79.299014
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,625.0,93.392371,97.138965

In [56]:
# Calculate Overall Passing Rate (Average of Passing Math and Passing Reading)
summary_table['Overall Passing Rate'] = (summary_table['Passing Math'] + summary_table['Passing Reading']) / 2
summary_table.head()

,,Avg Reading Score,Avg Math Score,Total Students,Total Budget,Per Student Budget,Passing Math,Passing Reading,Overall Passing Rate
School,Type,,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,628.0,66.680064,81.933280,74.306672
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,582.0,94.133477,97.039828,95.586652
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,639.0,65.988471,80.739234,73.363852
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,644.0,68.309602,79.299014,73.804308
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,625.0,93.392371,97.138965,95.265668

In [57]:
# Rearrange Columns
summary_table = summary_table[['Total Students', 'Total Budget', 'Per Student Budget', 'Avg Math Score', 'Avg Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate']]
summary_table.head(10)

,,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate
School,Type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270

In [20]:
# Format columns
format_table = summary_table

format_table['Total Students'] = format_table['Total Students'].map("{:,}".format)
format_table['Total Budget'] = format_table['Total Budget'].map("${:,}".format)
format_table['Per Student Budget'] = format_table['Per Student Budget'].map("${:,}".format)
format_table['Avg Math Score'] = format_table['Avg Math Score'].map("{:.2F}".format)
format_table['Avg Reading Score'] = format_table['Avg Reading Score'].map("{:.2F}".format)
format_table['Passing Math'] = format_table['Passing Math'].map("{:.2F}%".format)
format_table['Passing Reading'] = format_table['Passing Reading'].map("{:.2F}%".format)
format_table['Overall Passing Rate'] = format_table['Overall Passing Rate'].map("{:.2F}%".format)
format_table

,,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate
School,Type,,,,,,,,
Bailey High School,District,"4,976.0","$3,124,928.0",$628.0,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858.0","$1,081,356.0",$582.0,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949.0","$1,884,411.0",$639.0,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,"2,739.0","$1,763,916.0",$644.0,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468.0","$917,500.0",$625.0,83.35,83.82,93.39%,97.14%,95.27%
Hernandez High School,District,"4,635.0","$3,022,020.0",$652.0,77.29,80.93,66.75%,80.86%,73.81%
Holden High School,Charter,427.0,"$248,087.0",$581.0,83.80,83.81,92.51%,96.25%,94.38%
Huang High School,District,"2,917.0","$1,910,635.0",$655.0,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761.0","$3,094,650.0",$650.0,77.07,80.97,66.06%,81.22%,73.64%
Pena High School,Charter,962.0,"$585,858.0",$609.0,83.84,84.04,94.59%,95.95%,95.27%
Rodriguez High School,District,"3,999.0","$2,547,363.0",$637.0,76.84,80.74,66.37%,80.22%,73.29%
Shelton High School,Charter,"1,761.0","$1,056,600.0",$600.0,83.36,83.73,93.87%,95.85%,94.86%
Thomas High School,Charter,"1,635.0","$1,043,130.0",$638.0,83.42,83.85,93.27%,97.31%,95.29%
Wilson High School,Charter,"2,283.0","$1,319,574.0",$578.0,83.27,83.99,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800.0","$1,049,400.0",$583.0,83.68,83.95,93.33%,96.61%,94.97%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [21]:
# Display the 5 top performing schools
top_performing = format_table.sort_values('Overall Passing Rate', ascending=False)
top_performing_5 = top_performing.iloc[0:5,:]
top_performing_5

,,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate
School,Type,,,,,,,,
Cabrera High School,Charter,"1,858.0","$1,081,356.0",$582.0,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635.0","$1,043,130.0",$638.0,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468.0","$917,500.0",$625.0,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962.0,"$585,858.0",$609.0,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283.0","$1,319,574.0",$578.0,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [22]:
# Display the 5 bottom performing schools
bottom_performing = format_table.sort_values('Overall Passing Rate', ascending=True)
bottom_performing = bottom_performing.iloc[0:5,:]
bottom_performing

,,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate
School,Type,,,,,,,,
Rodriguez High School,District,"3,999.0","$2,547,363.0",$637.0,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949.0","$1,884,411.0",$639.0,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917.0","$1,910,635.0",$655.0,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761.0","$3,094,650.0",$650.0,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739.0","$1,763,916.0",$644.0,77.10,80.75,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [23]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
school_data_complete['Grade']=school_data_complete['Grade'].replace('9th', '09th')
school_grade_grouped = school_data_complete.groupby(['School', 'Grade']).mean()
school_grade_math = pd.DataFrame(school_grade_grouped['math_score'])
school_grade_math = school_grade_math.rename(columns={"math_score":"Average Math Score"})
school_grade_math['Average Math Score'] = round(school_grade_math['Average Math Score'],1)
school_grade_math

                             Average Math Score
School                Grade
Bailey High School    09th                 77.1
                      10th                 77.0
                      11th                 77.5
                      12th                 76.5
Cabrera High School   09th                 83.1
                      10th                 83.2
                      11th                 82.8
                      12th                 83.3
Figueroa High School  09th                 76.4
                      10th                 76.5
                      11th                 76.9
                      12th                 77.2
Ford High School      09th                 77.4
                      10th                 77.7
                      11th                 76.9
                      12th                 76.2
Griffin High School   09th                 82.0
                      10th                 84.2
                      11th                 83.8
                      12th                 83.4
Hernandez High School 09th                 77.4
                      10th                 77.3
                      11th                 77.1
                      12th                 77.2
Holden High School    09th                 83.8
                      10th                 83.4
                      11th                 85.0
                      12th                 82.9
Huang High School     09th                 77.0
                      10th                 75.9
                      11th                 76.4
                      12th                 77.2
Johnson High School   09th                 77.2
                      10th                 76.7
                      11th                 77.5
                      12th                 76.9
Pena High School      09th                 83.6
                      10th                 83.4
                      11th                 84.3
                      12th                 84.1
Rodriguez High School 09th                 76.9
                      10th                 76.6
                      11th                 76.4
                      12th                 77.7
Shelton High School   09th                 83.4
                      10th                 82.9
                      11th                 83.4
                      12th                 83.8
Thomas High School    09th                 83.6
                      10th                 83.1
                      11th                 83.5
                      12th                 83.5
Wilson High School    09th                 83.1
                      10th                 83.7
                      11th                 83.2
                      12th                 83.0
Wright High School    09th                 83.3
                      10th                 84.0
                      11th                 83.8
                      12th                 83.6

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [24]:
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school
school_grade_reading = pd.DataFrame(school_grade_grouped['reading_score'])
school_grade_reading = school_grade_reading.rename(columns={"reading_score":"Average Reading Score"})
school_grade_reading['Average Reading Score'] = round(school_grade_reading["Average Reading Score"],1)
school_grade_reading

                             Average Reading Score
School                Grade
Bailey High School    09th                    81.3
                      10th                    80.9
                      11th                    80.9
                      12th                    80.9
Cabrera High School   09th                    83.7
                      10th                    84.3
                      11th                    83.8
                      12th                    84.3
Figueroa High School  09th                    81.2
                      10th                    81.4
                      11th                    80.6
                      12th                    81.4
Ford High School      09th                    80.6
                      10th                    81.3
                      11th                    80.4
                      12th                    80.7
Griffin High School   09th                    83.4
                      10th                    83.7
                      11th                    84.3
                      12th                    84.0
Hernandez High School 09th                    80.9
                      10th                    80.7
                      11th                    81.4
                      12th                    80.9
Holden High School    09th                    83.7
                      10th                    83.3
                      11th                    83.8
                      12th                    84.7
Huang High School     09th                    81.3
                      10th                    81.5
                      11th                    81.4
                      12th                    80.3
Johnson High School   09th                    81.3
                      10th                    80.8
                      11th                    80.6
                      12th                    81.2
Pena High School      09th                    83.8
                      10th                    83.6
                      11th                    84.3
                      12th                    84.6
Rodriguez High School 09th                    81.0
                      10th                    80.6
                      11th                    80.9
                      12th                    80.4
Shelton High School   09th                    84.1
                      10th                    83.4
                      11th                    84.4
                      12th                    82.8
Thomas High School    09th                    83.7
                      10th                    84.3
                      11th                    83.6
                      12th                    83.8
Wilson High School    09th                    83.9
                      10th                    84.0
                      11th                    83.8
                      12th                    84.3
Wright High School    09th                    83.8
                      10th                    83.8
                      11th                    84.2
                      12th                    84.1

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [33]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [36]:
# Convert Per Student Budget from string to flot in order to bin
#summary_table['Per Student Budget']=summary_table['Per Student Budget'].replace("$",' ')
#summary_table['Per Student Budget']=pd.to_numeric(summary_table['Per Student Budget'])
#summary_table['Per Student Budget'].head()

School                Type
Bailey High School    District    $628.0
Cabrera High School   Charter     $582.0
Figueroa High School  District    $639.0
Ford High School      District    $644.0
Griffin High School   Charter     $625.0
Name: Per Student Budget, dtype: object

In [58]:
# Apply the bins and label to the summary table and save them in the scores_by_spend table
scores_by_spend = summary_table[['Avg Math Score','Avg Reading Score','Passing Math','Passing Reading', 'Overall Passing Rate']]
scores_by_spend['Spending Ranges (Per Student)']=pd.cut(summary_table['Per Student Budget'],spending_bins, labels=group_names)
scores_by_spend

C:\Users\Nelson\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate,Spending Ranges (Per Student)
School,Type,,,,,,
Bailey High School,District,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Cabrera High School,Charter,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,District,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Ford High School,District,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Griffin High School,Charter,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Hernandez High School,District,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Holden High School,Charter,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Huang High School,District,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Johnson High School,District,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Pena High School,Charter,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615
Rodriguez High School,District,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645
Shelton High School,Charter,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615
Thomas High School,Charter,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645
Wilson High School,Charter,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,Charter,83.682222,83.955000,93.333333,96.611111,94.972222,<$585

## Scores by School Size

* Perform the same operations as above, based on school size.

In [60]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [61]:
scores_by_size = summary_table[['Avg Math Score','Avg Reading Score','Passing Math','Passing Reading', 'Overall Passing Rate']]
scores_by_size['School Size'] = pd.cut(summary_table['Total Students'],size_bins, labels=group_names)
scores_by_size

C:\Users\Nelson\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate,School Size
School,Type,,,,,,
Bailey High School,District,77.048432,81.033963,66.680064,81.933280,74.306672,Large (2000-5000)
Cabrera High School,Charter,83.061895,83.975780,94.133477,97.039828,95.586652,Medium (1000-2000)
Figueroa High School,District,76.711767,81.158020,65.988471,80.739234,73.363852,Large (2000-5000)
Ford High School,District,77.102592,80.746258,68.309602,79.299014,73.804308,Large (2000-5000)
Griffin High School,Charter,83.351499,83.816757,93.392371,97.138965,95.265668,Medium (1000-2000)
Hernandez High School,District,77.289752,80.934412,66.752967,80.862999,73.807983,Large (2000-5000)
Holden High School,Charter,83.803279,83.814988,92.505855,96.252927,94.379391,Small (<1000)
Huang High School,District,76.629414,81.182722,65.683922,81.316421,73.500171,Large (2000-5000)
Johnson High School,District,77.072464,80.966394,66.057551,81.222432,73.639992,Large (2000-5000)
Pena High School,Charter,83.839917,84.044699,94.594595,95.945946,95.270270,Small (<1000)
Rodriguez High School,District,76.842711,80.744686,66.366592,80.220055,73.293323,Large (2000-5000)
Shelton High School,Charter,83.359455,83.725724,93.867121,95.854628,94.860875,Medium (1000-2000)
Thomas High School,Charter,83.418349,83.848930,93.272171,97.308869,95.290520,Medium (1000-2000)
Wilson High School,Charter,83.274201,83.989488,93.867718,96.539641,95.203679,Large (2000-5000)
Wright High School,Charter,83.682222,83.955000,93.333333,96.611111,94.972222,Medium (1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [124]:
#Combine the two charts
combined = scores_by_spend
combined['School Size'] = scores_by_size['School Size']

#Filter by Type = "District" to show only the District Schools
district_scores = combined.loc[[i for i in combined.index if i[1] == 'District'],:]
district_scores

C:\Users\Nelson\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate,Spending Ranges (Per Student),School Size
School,Type,,,,,,,
Bailey High School,District,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,Large (2000-5000)
Figueroa High School,District,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,Large (2000-5000)
Ford High School,District,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,Large (2000-5000)
Hernandez High School,District,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675,Large (2000-5000)
Huang High School,District,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675,Large (2000-5000)
Johnson High School,District,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675,Large (2000-5000)
Rodriguez High School,District,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645,Large (2000-5000)

In [126]:
#Filter by Type = "Charter" to show only the Charter Schools
charter_scores = combined.loc[[i for i in combined.index if i[1] == 'Charter'],:]
charter_scores

,,Avg Math Score,Avg Reading Score,Passing Math,Passing Reading,Overall Passing Rate,Spending Ranges (Per Student),School Size
School,Type,,,,,,,
Cabrera High School,Charter,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000)
Griffin High School,Charter,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,Medium (1000-2000)
Holden High School,Charter,83.803279,83.814988,92.505855,96.252927,94.379391,<$585,Small (<1000)
Pena High School,Charter,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615,Small (<1000)
Shelton High School,Charter,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615,Medium (1000-2000)
Thomas High School,Charter,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645,Medium (1000-2000)
Wilson High School,Charter,83.274201,83.989488,93.867718,96.539641,95.203679,<$585,Large (2000-5000)
Wright High School,Charter,83.682222,83.955000,93.333333,96.611111,94.972222,<$585,Medium (1000-2000)